{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<br>
<div class="container shadow-lg border-0 rounded-lg ">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %} Welcome to Dentalcare! Whether you're a returning patient or new to our practice, we're committed to providing you with top-quality dental care.Please feel free to explore our services and resources. If you haven't visited us before, we invite you to <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form | crispy}}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary py-md-3 px-md-5 me-3" type="submit">{% trans "Sign In" %}</button>
            </form>
            <br>
        </div>
    </div>
</div>
<br><br>
{% endblock %}