<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Clinic</title>
</head>

<body>
    <h1>Our Services</h1>
    {% for service in services %}
    <h2>{{ service.name }}</h2>
    <p>{{ service.description }}</p>
    <p>{{ service.price }}</p>
    {% endfor %}

    <h1>Our Doctors</h1>
    {% for dentist in dentists %}
    <h2>{{ dentist.last_name }} {{ dentist.first_name }}</h2>
    <p>{{ dentist.specialty }}</p>
    
    {% endfor %}
    
</body>

</html>
