{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header bg-danger text-white">
                    <h3 class="text-center font-weight-light my-4">Delete Appointment</h3>
                </div>
                <div class="card-body">
                    <p class="text-center">Are you sure you want to delete the following appointment?</p>
                    <table class="table table-striped">
                        <tr>
                            <th>Patient</th>
                            <td>{{ appointment.user.username }}</td>
                        </tr>
                        <tr>
                            <th>Service</th>
                            <td>{{ appointment.service.name }}</td>
                        </tr>
                        <tr>
                            <th>Dentist</th>
                            <td>{{ appointment.dentist}}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ appointment.date }}</td>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <td>{{ appointment.time }}</td>
                        </tr>
                        <tr>
                            <th>Message</th>
                            <td>{{ appointment.message }}</td>
                        </tr>
                    </table>
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            <a href="{% url 'my_appointments:appointment_list' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}
